<div class="content">
    <div class="timestamp">
        <h4 id="timestampYear">
            <%= new Date().getFullYear() %>
        </h4>
        <h4>© Kami</h4>
        <br>
    </div>
    <div class="beta">
        <h4>Esta função está em BETA</h4>
        <a href="/suporte" target="_blank">Reporte um BUG clicando aqui</a>
    </div>
</div>