<div class="timestamp">
    <h4 id="timestampYear">
        <%= new Date().getFullYear() %>
    </h4>
    <h4>© Kami</h4>
    <br>
    <h4>Esta função está em BETA - <a href="/suporte" target="_blank">Reporte um BUG clicando aqui</a></h4>
</div>