<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/partials/footer.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&&display=swap" rel="stylesheet">
</head>

<div class="timestamp">
    <h4 id="timestampYear">
        <%= new Date().getFullYear() %>
    </h4>
    <h4>© Kami</h4>
</div>