<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&&display=swap" rel="stylesheet">

<title>Kami - RPG Discord BOT</title>
<meta name="title" content="Kami - RPG Discord BOT">
<meta name="description"
    content="O Kami é um BOT criado com a intenção de ajudar jogadores e mestres de RPG's, adicionando praticidade a ajudando com organização. Adicione ao seu servidor!">

<meta property="og:title" content="Kami - RPG Discord BOT"/>
<meta property="og:description"
    content="O Kami é um BOT criado com a intenção de ajudar jogadores e mestres de RPG's, adicionando praticidade a ajudando com organização. Adicione ao seu servidor!"/>
<meta property="og:image" content="https://cdn.discordapp.com/attachments/737416028857958480/911108906997153802/logo.png"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="https://kamibot.vercel.app/">
<meta name="theme-color" content="#0082FF">

<link type="application/json+oembed" href="/others/preview.json" />
