<nav class="mobileNav" role="navigation">
    <div id="menuToggle">
        <input type="checkbox" />
        <span></span>
        <span></span>
        <span></span>
        <ul id="menu">
            <li><a class="mobileLinkItem" href="/">Início</a></li>
            <li><a class="mobileLinkItem" href="/comandos">Comandos</a></li>
            <li><a class="mobileLinkItem" href="/tutoriais">Tutoriais</a></li>
            <li><a class="mobileLinkItem" href="/convite" target="_blank">Adicione o Kami</a></li>

            <% if(session.user){%>
                <div class="userBox">
                    <div class="userBoxHeader">
                        <img src="<%= session.user.avatarURL %>" alt="<%= session.user.username %>">
                        <p>
                            <%= session.user.username %>
                        </p>
                    </div>
                    <li><a class="mobileLinkItem" href="/user/jogador">Jogador</a></li>
                    <li><a class="mobileLinkItem" href="/auth/logout">Sair</a></li>
                </div>
                <% } else {%>
                    <li><a class="mobileLinkItem" href="/auth/login">Login</a></li>
                    <% } %>
        </ul>
    </div>
</nav>