<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/partials/nav.css" />
    <link rel="stylesheet" href="/css/partials/mobileNav.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&&display=swap" rel="stylesheet">
</head>

<body>
    <nav>
        <a href="/">
            <div class="logo">
                <img src="/assets/img/logo.png">
                <p>Kami</p>
            </div>
        </a>
        <div class="links">
            <a class="linkItem" href="/">Início</a>
            <a class="linkItem" href="/comandos">Comandos</a>
            <a class="linkItem" href="/tutoriais">Tutoriais</a>
            <a class="linkItem" href="/short/convite" target="_blank">Adicione o Kami</a>
            <% if(session.user){%>
                <%- include('./userDrop.ejs', {session: session})%>
                    <% } else {%>
                        <a class="linkItem" href="/auth/login">Login</a>
                        <% } %>
            <img src='/assets/img/menu.png' alt='botão menu' class='menuBtn' id="mobile-menu-btn"></img>

        </div>
    </nav>
    <%- include("./mobileNav.ejs")  %> 
</body>