<!DOCTYPE html>
<html lang="pt">

<head>
    <%- include('./partials/head.ejs') %>
        <link rel="stylesheet" href="/css/global.css">
        <link rel="stylesheet" href="/css/beta.css">
</head>

<body>
    <header>
        <%- include('./partials/nav.ejs', {session: session}) %>
    </header>
    <main>
        <section class="center">
            <div class="text">
                <h2>Esta função está em beta fechada, você pode solicitar acesso no servidor de suporte do Kami no
                    Discord</h2>
                <div class="buttons">
                    <a href="/">Voltar para a página inicial</a>
                    <a href="/suporte" target="_blank">Servidor de suporte do Kami</a>
                </div>
            </div>
        </section>
        <div class="ocean">
            <div class="wave"></div>
            <div class="wave"></div>
        </div>
    </main>
    <footer>
        <%- include('./partials/footer.ejs'); %>
    </footer>
</body>

</html>