<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Kami - Discord BOT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/comandos.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&&display=swap" rel="stylesheet">
    <link rel="icon" href="../assets/img/favicon.ico">
</head>
<body>
    <header>
        <%- include('./partials/nav.ejs', {inviteLink: inviteLink}); %>
    </header>
    <main>
        <section class="top-text">
            <h1>Aqui você pode ver uma lista completa de todos os comandos presentes no Kami! </h1>
            <p>Mas, claro, se você
                precisar de mais ajuda você pode dar uma olhada
                na aba <b><a href="/tutoriais">Tutoriais</a></b>
                e se ainda precisar de ajuda você pode perguntar no <b><a target="_blank"
                        href="https://discord.com/invite/9rqCkFB">Servidor de Suporte do Kami no Discord.</a></b>
                Esta lista também pode ser visualizada direto no BOT utilizando o comando <b>/ajuda</b>
            <p>
        </section>

        <section class="commands-list">
            <% for (c of comandos){ %>
                <div class="category">
                    <div class="cmd">
                        <h3>
                            <%= `/${c[1].name}` %>
                        </h3>
                        <p>
                            <%= c[1].description %>
                        </p>
                    </div>
                </div>
                <% } %>
        </section>
        <img src="/assets/img/background.svg" class="background">
    </main>
    <footer>
        <%- include('./partials/footer.ejs', {}); %>
    </footer>
</body>
</html>