
.top-text{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 3em;
    text-align: center;
    align-content: center;
    margin-bottom: 3em;
}

.top-text h1{
    font-size: 1.7em;
    font-weight: bold;
    color: white;
    width: 80%;
    align-self: center;
    margin-bottom: 0.5em;
}

.top-text p{
    font-size: 1em;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.61);
    width: 80%;
    align-self: center;
    margin-bottom: 0.5em;
}

.top-text a{
    font-size: 1em;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.top-text a:hover{
    color: var(--azul-claro);
    transition: 0.3s;

}

.commands-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10em;
    justify-content: center;
    align-self: center;
}

.cmd{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    margin: 5px;
    width: 15em;
    height: 7em;
    background-color: var(--azul-escuro);
    border: 3px solid var(--cinza-azulado);
    border-radius: 10px;
    text-align: center;
}

.cmd h3 {
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
}

.cmd p{
    font-size: 1em;
    color: rgba(255, 255, 255, 0.7);
    width: 90%;
}

@media (max-width: 480px) {
    .top-text{
        margin-top: 0px;
    }

    .top-text p{
        text-align: justify;
    }
}