main {
    margin-bottom: 70px;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.topBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    background: var(--azul-escuro);
    border: 3px solid var(--cinza-azulado);
    border-radius: 10px;
    color: white;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 10px;
}

.controles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 20rem;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.controles button {
    color: white;
    margin: 4px 10px 4px 10px;
    border-radius: 10px;
    border: 2px solid var(--cinza-azulado);
    background: var(--azul-escuro);
    padding: 6px;
    box-shadow: rgba(0, 0, 0, 0.212) 0px 3px 5px 0px;
    cursor: pointer;
    transition: 0.3s;
    width: 10em;
}

.controles button:hover {
    border: 2px solid var(--cinza-azulado);
    background: var(--azul-claro);
    transition: 0.3s;
}

.flex2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* margin-bottom: 7em; */
}

.addAtb {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 20rem;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.addAtb form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.addAtb input {
    color: white;
    width: 70%;
    background: var(--cinza-azulado);
    border: 3px solid var(--cinza-azulado);
    border-radius: 5px;
    resize: none;
    text-align: justify;
    padding: 5px;
    margin: 3px;
}

.addAtb button {
    color: white;
    margin: 4px 10px 4px 10px;
    border-radius: 10px;
    border: 2px solid var(--cinza-azulado);
    background: var(--azul-escuro);
    padding: 6px;
    box-shadow: rgba(0, 0, 0, 0.212) 0px 3px 5px 0px;
    cursor: pointer;
    transition: 0.3s;
    width: 10em;
}

.addAtb button:hover {
    background: var(--azul-claro);
}

.delAtb {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 20rem;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.delAtb form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.delAtb input {
    color: white;
    width: 70%;
    background: var(--cinza-azulado);
    border: 3px solid var(--cinza-azulado);
    border-radius: 5px;
    resize: none;
    text-align: justify;
    padding: 5px;
    margin: 3px;
}

.delAtb button {
    color: white;
    margin: 4px 10px 4px 10px;
    border-radius: 10px;
    border: 2px solid var(--cinza-azulado);
    background: var(--azul-escuro);
    padding: 6px;
    box-shadow: rgba(0, 0, 0, 0.212) 0px 3px 5px 0px;
    cursor: pointer;
    transition: 0.3s;
    width: 10em;
}

.delAtb button:hover {
    background: var(--azul-claro);
}

.checkExtra {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}

input#addExtra.check, input#delExtra.check {
    width: 2em;
}

.checkExtra label {
    color: white;
    margin: 0px;
}

.confApagar {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 20rem;
    align-items: center;
    justify-content: center;
    margin: 10px;
    text-align: center;
}

.confApagar button {
    color: white;
    margin: 4px 10px 4px 10px;
    border-radius: 10px;
    border: 2px solid var(--cinza-azulado);
    background: var(--azul-escuro);
    padding: 6px;
    box-shadow: rgba(0, 0, 0, 0.212) 0px 3px 5px 0px;
    cursor: pointer;
    transition: 0.3s;
    width: 10em;
}

.confApagar button:hover {
    background: var(--azul-claro);
}

.renFicha {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 20rem;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.renFicha form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.renFicha input {
    color: white;
    width: 70%;
    background: var(--cinza-azulado);
    border: 3px solid var(--cinza-azulado);
    border-radius: 5px;
    resize: none;
    text-align: justify;
    padding: 5px;
    margin: 3px;
}

.renFicha button {
    color: white;
    margin: 4px 10px 4px 10px;
    border-radius: 10px;
    border: 2px solid var(--cinza-azulado);
    background: var(--azul-escuro);
    padding: 6px;
    box-shadow: rgba(0, 0, 0, 0.212) 0px 3px 5px 0px;
    cursor: pointer;
    transition: 0.3s;
    width: 10em;
}

.renFicha button:hover {
    background: var(--azul-claro);
}

.message {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 20rem;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.loadWheel {
    border: 10px solid var(--cinza-azulado);
    border-top: 10px solid white;
    border-radius: 50%;
    width: 3em;
    height: 3em;
    animation: spin 2s linear infinite;
}

.loading {
    display: none;
    border: 2px solid var(--cinza-azulado);
    border-radius: 50%;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.response {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 10px;
}

.response p {
    color: white;
    margin: 5px;
    text-align: justify;
}

.response h2 {
    color: white;
    margin: 5px;
    text-align: center;
}

.response button {
    color: white;
    margin: 4px 10px 4px 10px;
    border-radius: 10px;
    border: 2px solid var(--cinza-azulado);
    background: var(--azul-escuro);
    padding: 6px;
    box-shadow: rgba(0, 0, 0, 0.212) 0px 3px 5px 0px;
    cursor: pointer;
    transition: 0.3s;
    width: 10em;
}

.response button:hover {
    background: var(--azul-claro);
}

@media (max-width: 850px) {

    main {
        justify-content: center;
    }

    .topBox {
        margin: 2em;
    }

}