.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.topBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    background: var(--azul-escuro);
    border: 3px solid var(--cinza-azulado);
    border-radius: 10px;
    color: white;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.controles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 20rem;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.controles button {
    color: white;
    margin: 4px 10px 4px 10px;
    border-radius: 10px;
    border: 2px solid var(--cinza-azulado);
    background: var(--azul-escuro);
    padding: 6px;
    box-shadow: rgba(0, 0, 0, 0.212) 0px 3px 5px 0px;
    cursor: pointer;
    transition: 0.3s;
    width: 10em;
}

.controles button:hover {
    border: 2px solid var(--cinza-azulado);
    background: var(--azul-claro);
    transition: 0.3s;
}

.flex2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* margin-bottom: 7em; */
}

.inf {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inf1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50em;
    height: 20em;
    background: var(--azul-escuro);
    border: 3px solid var(--cinza-azulado);
    border-radius: 10px;
    margin: 10px;
}

.desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50em;
    height: 20em;
    background: var(--azul-escuro);
    border: 3px solid var(--cinza-azulado);
    border-radius: 10px;
    margin: 10px;
}

.inf2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30em;
    height: 41.59em;
    background: var(--azul-escuro);
    border: 3px solid var(--cinza-azulado);
    border-radius: 10px;
    margin: 10px;
}

.status {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30em;
    height: 41.59em;
    background: var(--azul-escuro);
    border: 3px solid var(--cinza-azulado);
    border-radius: 10px;
    margin: 10px;
}

.inf1Div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: start;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.inf2Div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}


#boxScroll::-webkit-scrollbar {
    width: 12px;
}

#boxScroll::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.212);
    border-radius: 0px;
    border-bottom-right-radius: 7px;
}

#boxScroll::-webkit-scrollbar-thumb {
    background: var(--cinza-azulado);
    border: 2px solid rgba(83, 83, 83, 0.411);
    border-radius: 10px;
}

#boxScroll::-webkit-scrollbar-thumb:hover {
    background: var(--azul-claro);
}

.infImage {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    width: 45%;
    height: 100%;
}

.avatar {
    max-height: 13em;
    margin: 5px;
    border-radius: 10px;
    border: 3px solid var(--cinza-azulado);
}

.atbI1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.atbI2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.atbsI {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.atbsI2 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.atributo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    margin: 5px;
}

.atributo2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 5px;
}

.atbILabel {
    color: white;
}

.atbIInput {
    color: white;
    width: 80%;
    background: var(--cinza-azulado);
    border: 3px solid var(--cinza-azulado);
    border-radius: 5px;
    resize: none;
    text-align: justify;
    padding: 5px;
    white-space: pre-wrap;
}

.atbI2Input {
    color: white;
    width: 100%;
    background: var(--cinza-azulado);
    border: 3px solid var(--cinza-azulado);
    border-radius: 5px;
    resize: none;
    text-align: justify;
    padding: 5px;
    white-space: pre-wrap;
}

.descInput {
    color: white;
    width: 96%;
    height: 90%;
    background: var(--cinza-azulado);
    border: 3px solid var(--cinza-azulado);
    border-radius: 5px;
    resize: none;
    text-align: justify;
    padding: 5px;
    white-space: pre-wrap;
}

.addAtb {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 20rem;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.addAtb form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.addAtb input {
    color: white;
    width: 70%;
    background: var(--cinza-azulado);
    border: 3px solid var(--cinza-azulado);
    border-radius: 5px;
    resize: none;
    text-align: justify;
    padding: 5px;
    margin: 3px;
}

.addAtb button {
    color: white;
    margin: 4px 10px 4px 10px;
    border-radius: 10px;
    border: 2px solid var(--cinza-azulado);
    background: var(--azul-escuro);
    padding: 6px;
    box-shadow: rgba(0, 0, 0, 0.212) 0px 3px 5px 0px;
    cursor: pointer;
    transition: 0.3s;
    width: 10em;
}

.addAtb button:hover {
    background: var(--azul-claro);
}

.delAtb {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 20rem;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.delAtb form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.delAtb input {
    color: white;
    width: 70%;
    background: var(--cinza-azulado);
    border: 3px solid var(--cinza-azulado);
    border-radius: 5px;
    resize: none;
    text-align: justify;
    padding: 5px;
    margin: 3px;
}

.delAtb button {
    color: white;
    margin: 4px 10px 4px 10px;
    border-radius: 10px;
    border: 2px solid var(--cinza-azulado);
    background: var(--azul-escuro);
    padding: 6px;
    box-shadow: rgba(0, 0, 0, 0.212) 0px 3px 5px 0px;
    cursor: pointer;
    transition: 0.3s;
    width: 10em;
}

.delAtb button:hover {
    background: var(--azul-claro);
}

.checkExtra {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}

input#addExtra.check, input#delExtra.check {
    width: 2em;
}

.checkExtra label {
    color: white;
    margin: 0px;
}

.confApagar {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 20rem;
    align-items: center;
    justify-content: center;
    margin: 10px;
    text-align: center;
}

.confApagar button {
    color: white;
    margin: 4px 10px 4px 10px;
    border-radius: 10px;
    border: 2px solid var(--cinza-azulado);
    background: var(--azul-escuro);
    padding: 6px;
    box-shadow: rgba(0, 0, 0, 0.212) 0px 3px 5px 0px;
    cursor: pointer;
    transition: 0.3s;
    width: 10em;
}

.confApagar button:hover {
    background: var(--azul-claro);
}

.message {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 20rem;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.loadWheel {
    border: 10px solid var(--cinza-azulado);
    border-top: 10px solid white;
    border-radius: 50%;
    width: 3em;
    height: 3em;
    animation: spin 2s linear infinite;
}

.loading {
    display: none;
    border: 2px solid var(--cinza-azulado);
    border-radius: 50%;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.response {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 10px;
}

.response p {
    color: white;
    margin: 5px;
    text-align: justify;
}

.response h2 {
    color: white;
    margin: 5px;
    text-align: center;
}

.response button {
    color: white;
    margin: 4px 10px 4px 10px;
    border-radius: 10px;
    border: 2px solid var(--cinza-azulado);
    background: var(--azul-escuro);
    padding: 6px;
    box-shadow: rgba(0, 0, 0, 0.212) 0px 3px 5px 0px;
    cursor: pointer;
    transition: 0.3s;
    width: 10em;
}

.response button:hover {
    background: var(--azul-claro);
}

@media (max-width: 850px) {

    main {
        justify-content: center;
    }

    .topBox {
        margin: 2em;
    }

    .inf1 {
        flex-direction: column;
        width: 95vw;
        height: 25em;
    }

    .desc {
        width: 95vw;
        height: 25em;
    }

    .inf2 {
        width: 95vw;
        height: 25em;
    }

    .inf2 {
        width: 95vw;
        height: 25em;
    }

    .status{
        width: 95vw;
        height: 25em;
    }

    #imagem {
        margin-top: 10px;
        width: 100%;
    }

    .avatar {
        width: auto;
        max-width: 80vw;
        max-height: 10em;
        object-fit: cover;
    }

}