main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    background: var(--azul-escuro);
    border: 3px solid var(--cinza-azulado);
    border-radius: 10px;
    color: white;
    margin-top: 20px;
    padding: 10px;
}

.ficha {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.controles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6em;
    background-color: var(--azul-escuro);
    border: 2px solid var(--cinza-azulado);
    border-radius: 10px;
    width: fit-content;
    padding: 10px 2em 10px 2em;
}

.getAccess {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
}
.errorMessage {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.getAccess h2, .getAccess p, .errorMessage h2, .errorMessage p {
    color: white;
    text-align: center;
    margin-top: 5px;
}

.getAccess input {
    color: white;
    background: var(--cinza-azulado);
    border: 3px solid var(--cinza-azulado);
    border-radius: 5px;
    resize: none;
    text-align: center;
    padding: 5px;
    margin: 3px;
}

.getAccess button, .errorMessage button {
    color: white;
    margin: 4px 10px 4px 10px;
    border-radius: 10px;
    border: 2px solid var(--cinza-azulado);
    background: var(--azul-escuro);
    padding: 6px;
    box-shadow: rgba(0, 0, 0, 0.212) 0px 3px 5px 0px;
    cursor: pointer;
    transition: 0.3s;
    width: 10em;
}

.getAccess button:hover, .errorMessage button:hover {
    border: 2px solid var(--cinza-azulado);
    background: var(--azul-claro);
    transition: 0.3s;
}

.getAccess a {
    color: white;
    text-decoration: none;
    background-color: var(--cinza-azulado);
    padding: 2px 5px 2px 5px;
    border-radius: 5px;
}

.getAccess a:hover {
    color: var(--azul-claro);
    transition: 0.3s;
}

.loadWheel {
    border: 10px solid var(--cinza-azulado);
    border-top: 10px solid white;
    border-radius: 50%;
    width: 3em;
    height: 3em;
    animation: spin 2s linear infinite;
}

.loading {
    display: none;
    border: 2px solid var(--cinza-azulado);
    border-radius: 50%;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}