.info {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 3em;
    text-align: center;
    width: auto;
}

.bot-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.bot-info h1 {
    font-size: 2em;
    font-weight: bold;
    color: white;
    margin-bottom: 0.6em;
    width: 90%;
}

.bot-info p {
    font-size: 1em;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.61);
    margin-bottom: 2em;
    width: 60%;
}

.bot-info a {
    width: 10em;
    font-size: 1.4em;
    font-weight: bold;
    color: white;
    text-decoration: none;
    background-color: var(--azul-escuro);
    padding: 7px 15px 7px 15px;
    border-radius: 10px;
    transition: 0.3s;
    margin-bottom: 2em;
    border: 3px solid var(--cinza-azulado);
}

.bot-info a:hover {
    box-shadow: 0px 0px 10px 1px var(--azul-escuro);
    transition: 0.3s;
}

.status-box {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    margin-top: 1em;
    margin-bottom: 10em;
    width: fit-content;
    background-color: var(--azul-escuro);
    border: 3px solid var(--cinza-azulado);
    border-radius: 10px;
}

.status-box-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.5em;
    z-index: 3;
    padding: 8px;
}

.status-box-item h4 {
    color: white;
    font-weight: bold;
    font-size: 2.5em;
}

.status-box-item h5 {
    color: rgba(255, 255, 255, 0.61);
    font-size: 1.0em;
}

@media (max-width: 480px) {
    .info {
        top: 1em;
    }
    .bot-info p {
        text-align: justify;
        width: 90%;
    }

    .status-box {
        width: 90%;
        flex-wrap: wrap;
    }
    .status-box-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0.5em;
        z-index: 3;
        padding: 8px;
    }
    .status-box-item h4 {
        color: white;
        font-weight: bold;
        font-size: 2em;
    }
    .status-box-item h5 {
        color: rgba(255, 255, 255, 0.61);
        font-size: 1em;
    }
}