.center {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 10em;
    text-align: center;
    width: auto;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.text h1 {
    font-size: 3em;
    font-weight: bold;
    color: white;
    margin-bottom: 0.5em;
}

.text a {
    width: 10em;
    font-size: 1.4em;
    font-weight: bold;
    color: white;
    text-decoration: none;
    background-color: var(--azul-escuro);
    padding: 7px 15px 7px 15px;
    border-radius: 10px;
    transition: 0.3s;
    margin-bottom: 2em;
    border: 3px solid var(--cinza-azulado);
}

.text a:hover {
    background-color: var(--azul-claro);
    transition: 0.3s;
}