<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

<title>Kami - RPG Discord BOT</title>
<meta name="title" content="Kami - RPG Discord BOT">
<meta name="description"
    content="O Kami é um BOT criado com a intenção de ajudar jogadores e mestres de RPG's, adicionando praticidade a ajudando com organização. Adicione ao seu servidor!">

<meta property="og:title" content="Kami - RPG Discord BOT"/>
<meta property="og:description"
    content="O Kami é um BOT criado com a intenção de ajudar jogadores e mestres de RPG's, adicionando praticidade a ajudando com organização. Adicione ao seu servidor!"/>
<meta property="og:image" content="https://cdn.discordapp.com/attachments/737416028857958480/911108906997153802/logo.png"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="https://kamiapp.com.br/">
<meta name="theme-color" content="#0082FF">

<link type="application/json+oembed" href="/others/preview.json" />

<link rel="stylesheet" href="/css/partials/footer.css" />
<link rel="stylesheet" href="/css/partials/nav.css" />
<link rel="stylesheet" href="/css/partials/mobileNav.css" />
<link rel="stylesheet" href="/css/global.css">
