<body>
    <nav>
        <a href="/">
            <div class="logo">
                <img src="/assets/img/logo.webp" alt="Logo Kami">
                <p>Kami</p>
            </div>
        </a>
        <div class="links">
            <a class="linkItem" href="/">Início</a>
            <a class="linkItem" href="/comandos">Comandos</a>
            <a class="linkItem" href="/tutoriais">Tutoriais</a>
            <a class="linkItem" href="/convite" target="_blank">Adicione o Kami</a>
            <% if(session.user){%>
                <%- include('./userDrop.ejs', {session: session})%>
                    <% } else {%>
                        <a class="linkItem" href="/auth/login?redirect=<%= redirect %> ">Login</a>
                        <% } %>
            <img src='/assets/img/menu.png' alt='botão menu' class='menuBtn' id="mobile-menu-btn"></img>
        </div>
    </nav>
    <%- include("./mobileNav.ejs")  %> 
</body>