footer {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    width: 100%;
    background: var(--azul-escuro);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    color: white;
    z-index: 5;
}

.timestamp h4 {
    display: inline-block;
    margin-bottom: 5px;
}

footer a {
    color: white;
    text-decoration: none;
    background-color: var(--cinza-azulado);
    padding: 2px 5px 2px 5px;
    border-radius: 5px;
}

footer a:hover {
    color: var(--azul-claro);
    transition: 0.3s;
}

@media  screen and (max-width: 768px) {
    footer {
        height: auto;
        padding: 10px;
        text-align: center;  
    }
}