* {
  padding: 0px;
  margin: 0px;
  transition: 0.5s;
  text-decoration: none;
}

nav {
  display: flex;
  position: sticky;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  background-color: var(--cinza-azulado);
  color: white;
  height: 60px;
  z-index: 1;
}

nav .links {
  display: flex;
}

.links a {
  padding: 10px 10px;
  font-family: "Roboto", sans-serif;
  color: white;
  border-radius: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.linkItem {
  display: flex;
  align-items: center;
  font-size: 1.2em;
}

.links a:hover {
  background-color: var(--azul-escuro);
}

.links a:active {
  background-color: var(--azul-escuro);
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  max-width: 50px;
  max-height: 50px;
  width: 100%;
  height: 8.0vw;

}

@font-face {
  font-family: "Azonix";
  src: url("/fonts/Azonix.otf"),
}

.logo p {
  font-family: 'Azonix', sans-serif;
  margin-left: 10px;
  font-size: 1.2em;
  min-width: 10px;
  color: var(--azul-escuro);
}

#mobile-menu-btn {
  display: none;
}

.mobile-menu {
  color: white;
  display: none;
  position: absolute;
  left: 0;
  height: 60vh;
  width: 70vw;
  background-color: rgb(35, 39, 42);
  transition: 0.5s;
}

.mobileNav {
  display: none;
}

@media (min-width: 750px) and (max-width: 1000px) {
  .linkItem {
    font-size: 0.95em;
  }
  .logo p{
    font-size: 0.95em;
  }
  .userlink p{
    font-size: 0.95em;
  }
}

@media (max-width: 750px) {
  nav{
    display: none;
  }
  .mobileNav {
    display: inherit;
  }

}