.userLink {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 5px;
    font-family: "Roboto", sans-serif;
    color: white;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.userAvatar {
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    height: 5.0vw;
    border-radius: 50%;
    text-align: center;
    margin-left: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
    transition: none;
    background-color: var(--azul-escuro);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 1;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 172px;
    z-index: 1;
    transition: none;
    padding-bottom: 5px;

}

.dropdown-content a {
    color: white;
    padding: 8px 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: var(--azul-claro);
}

.dropdown:hover .dropdown-content {
    background-color: var(--azul-escuro);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition:  none;
    display: block;
}

.dropdown:hover{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: var(--azul-escuro);
    transition:  none;
}